div.existing-content.template-album_view,
body.template-album_view {
	
	#content-core {

		.card {
			width: 18rem;
			height: 30rem;

			&.album {
				width: 14rem;
			}

			.card-image-top {

				img {
					object-fit: cover;
					width: 100%;
					aspect-ratio: 4 / 3;
				}
			}

			.card-body {
				flex: 1 1 auto;
				display: flex;
				padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
				color: var(--bs-card-color);
				flex-direction: column;
				justify-content: space-between;
				

				h5 + a.stretched-link {
					margin-top: 0.5rem;
				}
			}
		}
	}
}
