body.template-album_view {
	
	#main-container.row {

		#content-core {

			.card-title {
				color: var(--bs-gray-dark);
				text-align: center;
			    margin: 15px;
			}

			.mb-5 {
				min-width: 30%;
				max-width: 30%;

				@media (max-width: 768px) {
					min-width: 100%;
					max-width: 100%;
				}
			}


			.card-image {

				img {
					border-radius: 7px;
				}
			}


			.card-link-container {
				display: flex;
				align-items: flex-end;
				padding: 16px;

				a.card-link {
					text-decoration: none;
				}
			}
		}
	}
}
