body.template-author {

	h1.documentFirstHeading {
		font-size: 32px;
	}
	#content-core {

		h2 {
			font-size: 24px;
		}

		table.table {
			margin-bottom: 2rem;

			th {
				font-weight: 400;

				.sorting_1 {
					font-weight: 300 !important;
					font-size: 16px !important;
				}
			}
		}
	}
}
