body.template-clouseau .lead {
  margin-bottom: 18px;
  font-size: 1rem;
  line-height: 18px;
  background: #eee;
  text-shadow: 0 1px #fff;
  -moz-box-shadow: 0 1px 1px #b2b2b2;
  -webkit-box-shadow: 0 1px 1px #b2b2b2;
  box-shadow: 0 1px 1px #b2b2b2;
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  border-radius: 5px !important;
  padding: 15px 15px 0 15px;

  p {
    white-space: pre;
  }
}
