div.existing-content.template-filtered_contents_search_complete_pretty_view,
div.existing-content.template-filtered_contents_search_pretty_view,
div.existing-content.template-techoffer_filter,
body.template-filtered_contents_search_complete_pretty_view,
body.template-filtered_contents_search_pretty_view, 
body.template-techoffer_filter {

  .col-md-3 {

    h2 {
      color: var(--bs-body-color);
      font-size: 1.75rem;
      font-weight: 500;
    }

    .caixessearch {

      h3 {
        color: var(--bs-body-color);
        font-size: var(--gw-font-size-xxxl);
        font-weight: 300;
        border-bottom: 1px solid var(--bs-gray-300);
        margin: 0 0 0.75rem 0;
        padding: 1.5rem 0 0.5rem 0;
      }
    }
  }

  .col-md-9 {

    #tagslist {

      .tileItem {
        width: 100%;
        display: inline-block;
        padding-bottom: 0.75rem;
        margin-bottom: 0.75rem;
        border-bottom: 1px solid var(--bs-gray-300);

        &:last-child {
          border-bottom: 0px solid transparent;
        }

        .tileImageContainer {
          float: right;

          .tileImage {
            margin-left: 25px;
          }
        }

        h2 {
          font-weight: 500;
          font-size: var(--gw-font-size-xxl);
          margin-bottom: 0.2rem;
          line-height: 1.5em;

          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}
