body.template-folder_index_view {

    #content-core {

        #folder-index-view.well{
            list-style: none;

            h3 a {
                text-decoration: none;
                font-size: 20px;
            }
        }
    }
}
