div.existing-content.template-folder_contents,
body.template-folder_contents {

  .select2-results .select2-highlighted {
    color: var(--bs-white) !important;
  }

  .table-striped > tbody > tr {

    & > td:not(:first-child) {
      color: var(--bs-table-color);
    }

    &:nth-of-type(odd) > td:not(:first-child) {
      color: var(--bs-table-striped-color);
    }

    .plone-item-exclude-from-nav {
      margin-left: 0.5rem;
    }

    .review_state:first-letter {
      text-transform: uppercase;
    }
  }

  #content-core {
    margin-top: 2rem;
  }

  #portal-breadcrumbs,
  #content > header {
    display: none;
  }

  .pat-structure  {

    .upload-container {

      .upload-area {
        max-height: 70dvh;
        padding: 30px 15px;

        .previews {
          margin-top: 2em;
          height: 45dvh;
          overflow-y: auto;
          overflow-x: hidden;
        }
      }
    }
  }
}
