div.existing-content.template-folder_listing,
body.template-folder_listing {

  #content-core {

    header a {
      text-decoration: none;
    }

    img.image-tile {
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
}
