body.template-listing_view {

	#content-core {

		div.mb-1 {

			a {
				font-weight: 400;
				text-decoration: none;

				&.url {
					font-size: 28px;
				}
			}
		}

		p.me-3 {
			font-size: 16px;
		}

		div#content-core {

			span.datedisplay {
				font-weight: 400;
			}

			abbr.dtstart {
				text-decoration: none;
	    		font-weight: 400;
	    	}
	    }
	}
}
