/* INICIO Login */

.login-wrapper .card {
  width: 26rem;

  h1 {
    margin-bottom: 1rem;
  }
}

#formfield-form-widgets-login_preview,
#loginGW {

  h3,
  button {
    color: var(--bs-primary);
  }

  .accordion-item:hover {

    h3,
    button {
      color: var(--bs-primary-hover);
    }
  }

  #linkCAS {
    text-decoration: none;

    #headingCAS::after {
      display: none;
    }
  }

  a {
    text-decoration: none;
  }
}

/* FIN Login */
