.login-wrapper .card {
  max-width: 100%;

  h1 {
    margin-bottom: 1rem;
  }
}

.modal-body {

  #global_statusmessage {

    & + .portalMessage {
      display: none;
    }
  }

  .login-wrapper .card {
    border: 0 solid transparent;

    .card-body {
      padding: 0;
    }
  }
}

#loginGW {

  h3 > button,
  h3 {
    color: var(--bs-primary);
  }

  .accordion-item:hover {

    h3 > button,
    h3 {
      color: var(--bs-primary-hover);
    }
  }

  #linkCAS {
    text-decoration: none;

    #headingCAS::after {
      display: none;
    }
  }

  a {
    text-decoration: none;
  }
}

#login-form {
  width: 450px;
}

@media (max-width: 768px) {

  .login-wrapper .card,
  #login-form {
    width: 100%;
  }
}


