body.template-search {

  form#searchform {

    #search-results {
      margin-top: 20px;

      ol.searchResults {

        li {
          font-size: 1em;

          a {
            text-decoration: none;
          }
        }
      }
    }

    .dropdown,
    .dropdown-center,
    .dropend,
    .dropstart,
    .dropup,
    .dropup-center {
      margin-right: 20px;

      &:last-child {
        margin-right: 0px;
      }
    }

    .dropdown-toggle::after {
      margin-left: 0.5em;
    }
  }
}
