div.existing-content.template-summary_view,
body.template-summary_view {

    #content-core {


        a {
            text-decoration: none;

            &.url {
                font-size: var(--gw-font-size-xxl);
                font-weight: 400;
            }

            &.read_more {
                font-size: var(--gw-font-size-xl);
            }
        }
    }
}
