body.template-summary_view {

    #content-core {
        a.summary.url {
            text-decoration: none;
            font-weight: 400;
            font-size: var(--gw-font-size-xxl);
        }
        a.read_more {
            font-size: 18px;
            text-decoration: none;
        }
    }
}
