div.existing-content.template-tabular_view,
body.template-tabular_view {

    #content-core {

        td {
            text-wrap: wrap;

            a {
                text-decoration: none;
            }

            img {
                float: left;
            }

            &:first-child {
                width: 2.5%;
            }

            &:last-child {
                width: 15%;
            }

            .plone-icon {
                height: 1em;
            }
        }
    }
}
