a[class^='link-banner'] {
  display: block;
  padding: 14px 24px;
  position: relative;
  padding-right: 72px;
  color: #383d41;
  background-color: #e2e3e5;
  border: 1px solid #d6d8db;
  font-size: var(--gw-font-size-xl);
  text-decoration: none;

  &:after {
    width: 36px;
    height: 36px;
    color: #383d41;
    content: "\e902";
    border: 2px solid #383d41;
    font-family: upc-icones;
    font-size: var(--gw-font-size-xl);
    position: absolute;
    right: 24px;
    top: 50%;
    margin-top: -18px;
    padding-top: 2px;
    border-radius: 50%;
    text-align: center;
    z-index: 1;
    box-sizing: border-box;
  }

  span[class^='btntitol'] {
    font-size: var(--gw-font-size-xxl);
    font-weight: 700;
  }

  &:hover {
    box-shadow: 0 1px 2px rgba(0,0,0,.05), 0 5px 10px rgba(0,0,0,.1), 0 10px 20px rgba(0,0,0,.05);
    transition: all .25s ease-in;
    text-decoration: none;
    transform: perspective(1px) scale(1.00775, 1.00775) translateZ(0);
    -webkit-font-smoothing: subpixel-antialiased;
  }

  & > img {
    object-fit: cover;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    transition: all .5s ease;
  }

  & > img + span + br + span,
  & > img + span {
    background: rgba(255,255,255,.8);
    padding: 3px 8px;
    position: inherit;
    color: var(--bs-body-color);
  }
}

a.link-bannerblauupc {
  color: var(--bs-white) !important;
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);

  &:before,
  &:after {
    color: var(--bs-white) !important;
  }

  &:after {
    border-color: var(--bs-white);
  }
}

a.link-bannerimg {

  &:before,
  &:after {
    color: var(--bs-white) !important;
  }

  &:after {
    border-color: var(--bs-white);
  }
}

a.link-bannerblau,
a.link-banner-minimal-blue {
  color: #004085 !important;
  background-color: #cce5ff;
  border-color: #b8daff;

  &:before,
  &:after {
    color: #004085 !important;
  }

  &:after {
    border-color: #004085;
  }
}

a.link-bannerwarning {
  color: #856404 !important;
  background-color: #fff3cd;
  border-color: #ffeeba;

  &:before,
  &:after {
    color: #856404 !important;
  }

  &:after {
    border-color: #856404;
  }
}


a.link-bannerwarning {
  color: #856404 !important;
  background-color: #fff3cd;
  border-color: #ffeeba;

  &:before,
  &:after {
    color: #856404 !important;
  }

  &:after {
    border-color: #856404;
  }
}

a.link-bannerdanger {
  color: #721c24 !important;
  background-color: #f8d7da;
  border-color: #f5c6cb;

  &:before,
  &:after {
    color: #721c24 !important;
  }

  &:after {
    border-color: #721c24;
  }
}

a.link-bannersuccess {
  color: #155724 !important;
  background-color: #d4edda;
  border-color: #c3e6cb;

  &:before,
  &:after {
    color: #155724 !important;
  }

  &:after {
    border-color: #155724;
  }
}
