.carousel.gw4-carousel {

  .carousel-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;

    .item {
      flex-basis: 32%;

      img {
        width: 100%;
      }

      .carousel-caption {
        position: initial;
        border-right: 2px solid var(--bs-gray-700);
        border-left: 2px solid var(--bs-gray-700);
        border-bottom: 2px solid var(--bs-gray-700);
        padding: 0.75rem !important;

        p {
          color: var(--bs-gray-800);
          margin-bottom: 0px;
        }
      }
    }
  }

  .carousel-control {
    display: none;
  }
}
