.lletra-cercle {
  float: left;
  font-size: 3rem;
  margin-top: -5px;
}

.numero-cercle {
  font-size: 3rem;
}

.lletra-cercle-petita {
  font-size: 0.9rem !important;
}

.lletra-cercle-petita:before {
  font-size: 1rem !important;
  font-weight: 400;
  margin-right: 0.2rem
}

.lletra-cercle-a:before {
  content: "\24d0";
}

.lletra-cercle-b:before {
  content: "\24d1";
}

.lletra-cercle-c:before {
  content: "\24d2";
}

.lletra-cercle-d:before {
  content: "\24d3";
}

.lletra-cercle-e:before {
  content: "\24d4";
}

.lletra-cercle-f:before {
  content: "\24d5";
}

.lletra-cercle-g:before {
  content: "\24d6";
}

.lletra-cercle-h:before {
  content: "\24d7";
}

.lletra-cercle-i:before {
  content: "\24d8";
}

.lletra-cercle-j:before {
  content: "\24d9";
}

.lletra-cercle-k:before {
  content: "\24da";
}

.lletra-cercle-l:before {
  content: "\24db";
}

.lletra-cercle-m:before {
  content: "\24dc";
}

.lletra-cercle-n:before {
  content: "\24dd";
}

.lletra-cercle-o:before {
  content: "\24de";
}

.lletra-cercle-p:before {
  content: "\24df";
}

.lletra-cercle-q:before {
  content: "\24e0";
}

.lletra-cercle-r:before {
  content: "\24e1";
}

.lletra-cercle-s:before {
  content: "\24e2";
}

.lletra-cercle-t:before {
  content: "\24e3";
}

.lletra-cercle-u:before {
  content: "\24e4";
}

.lletra-cercle-v:before {
  content: "\24e5";
}

.lletra-cercle-w:before {
  content: "\24e6";
}

.lletra-cercle-x:before {
  content: "\24e7";
}

.lletra-cercle-y:before {
  content: "\24e8";
}

.lletra-cercle-z:before {
  content: "\24e9";
}

.lletra-cercle-1:before {
  content: "\278A";
}

.lletra-cercle-2:before {
  content: "\278B";
}

.lletra-cercle-3:before {
  content: "\278C";
}

.lletra-cercle-4:before {
  content: "\278D";
}

.lletra-cercle-5:before {
  content: "\278E";
}

.lletra-cercle-6:before {
  content: "\278F";
}

.lletra-cercle-7:before {
  content: "\2790";
}

.lletra-cercle-8:before {
  content: "\2791";
}

.lletra-cercle-9:before {
  content: "\2792";
}

.lletra-cercle-10:before {
  content: "\2793";
}

.fletxa-dreta:before {
  content: "\1F87A";
}

.fletxa-esquerra:before {
  content: "\1F878";
}

.fletxa-adalt:before {
  content: "\1F879";
}

.fletxa-abaix:before {
  content: "\1F87B";
}

.color-blau {
  color: #089FE4;
}

.color-blaucel {
  color: #1FBDEE;
}

.color-verd {
  color: #069182;
}

.color-vermell {
  color: #D01157;
}

.color-groc {
  color: #f6a808;
}

.color-morat {
  color: #622AD9;
}

.color-violeta {
  color: #023470;
}

.color-carbassa {
  color: #ED4033;
}

.color-lila {
  color: #A71FAF;
}

.color-taronja {
  color: #fa5c2a;
}
