ul.list-sections,
ul.list.list-index,
ul.list-striped,
ul.list-hover,
ul.list-highlighted,
ul.list-links-upc,
ul.list-links,
ul.list-condensed,
ul.list-bordered {

  li {
    padding: 8px 0 8px 28px;
    list-style: none;
    margin-left: -2rem;
    position: relative;

    &:before {
      font-weight: bold;
      display: inline-block;
      margin-left: -1rem;
      position: absolute;
      margin-top: 0.2rem;
    }
  }

  ul.llistaesquerra {
    padding-left: 1rem;
  }
}

ul.list.list-index,
ul.list-striped,
ul.list-hover,
ul.list-condensed,
ul.list-bordered {

  li:before {
    content: "\25CF";
    font-size: .75rem;
  }
}

ul.list-links {

  li:before {
    content: "\25b6";
    margin-top: 5px;
    font-size: .65rem;
  }
}

ul.list-links-upc {

  li:before {
    content: "\25b7";
    margin-top: 5px;
    font-size: .65rem;
  }
}

ul.list-highlighted {

  li:before {
    content: "\ffeb";
    color: var(--bs-yellow);
    margin-top: -8px;
    font-size: var(--gw-font-size-xxxl);
  }
}

ul.list-links-upc,
ul.list-links,
ul.list-condensed,
ul.list-bordered {

  li:before {
    color: var(--bs-primary);
  }
}


ul.list-bordered {
  border: 1px solid var(--bs-gray-400);

  li {
    border-bottom: 1px solid var(--bs-gray-400);

    &:last-child {
      border-bottom: 0px solid transparent;
    }
  }
}

ul.list-condensed {

  li {
    padding: 0 0 0 28px;
  }
}

ul.list-hover {

  li:hover {
    background-color: var(--bs-gray-200);
  }
}

ul.list-striped {

  li:nth-child(odd) {
    background-color: var(--bs-gray-200);
  }
}


ul.list-sections {

  li {
    border-top: 1px solid var(--bs-gray-300);
    border-bottom: 1px solid var(--bs-gray-300);
    padding: 18px 0;

    & > img:first-child ~ *,
    .lletra-cercle:first-child ~ * {
      margin-left: 66px;
      max-width: calc(100% - 66px);
    }
  }
}


ul.unstyled {
  list-style: none;
  padding-left: 0;
}


ul.list-notebook {
  margin-left: 30px;
  padding-left: 10px;
  border-left: 4px double var(--bs-orange);

  li {
    margin-left: -40px;
    padding-left: 40px;
    border-bottom: 1px solid var(--bs-cyan);
    position: relative;
    list-style: none;

    &:first-child {
      border-top: 1px solid var(--bs-cyan);
    }

    &::before {
      position: absolute;
      content: "\25CF";
      font-size: .75rem;
      margin-left: -32px;
      margin-top: 5px;
    }
  }
}
