.portlet.portlet-calendar {
  border: 0px solid transparent;
  border-radius: 0;

  .card-header {
    border-bottom: 0px solid transparent;
    border-radius: 0;
    padding: 0;
    background-color: transparent;
    text-align: right;

    a {
      visibility: hidden;
      text-decoration: none;

      &.calendarPrevious:after {
        visibility: visible;
        content: "<";
        padding-right: 8px;
      }

      &.calendarNext:after {
        visibility: visible;
        content: ">";
        padding-left: -2px;
      }
    }
  }

  .card-body {
    padding-left: 0;
    padding-right: 0;
    padding-top: var(--bs-card-title-spacer-y);

    table {
      border: var(--bs-card-border-width) solid var(--bs-card-border-color);
      border-collapse: separate;
      border-spacing: 0px;
      border-radius: var(--bs-border-radius);

      th,
      td {
        text-align: center;
        padding: 0.75rem 0.25rem;
      }

      thead {
        border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
        background-color: var(--bs-gray-300);

        th {
          color: var(--bs-primary);
        }
      }

      tbody {

        td {

          a {
            color: var(--bs-gray-700);
            text-decoration: none;
          }

          &.cal_has_events {
            background-color: #8fc5e4;
            border-bottom: 2px white solid;
            border-top: 2px white solid;

            a {
              font-weight: 700;
              color: var(--bs-dark);
            }
          }

          &.cal_prev_month,
          &.cal_next_month {

            span {
              color: var(--bs-gray-500);
            }

            &.cal_has_events {
              background-color: #deeef7;

              a {
                font-weight: 700;
                color: var(--bs-gray-500);
              }
            }
          }
        }
      }
    }
  }
}
body.template-listing_view {
  
  #main-container {

    #portal-column-one {
      padding-right: 20px;

      div.card.porlet.porlet-calendar {
        width:100%;
      }
    }
  }
}