.portlet.portlet-collection {

	&.portlet-collection-noticias,
	&.portlet-collection-eventos {

		div.content-img,
		div.img {
			padding-top: 5px;
		}

		.plone-icon {
			margin-right: 5px;
		}
	}
}
