body.template-subhome_view {
	
	div.container {

		#content-core {

			div.col-md-4 {

				div.img.col-md-5 {
					align-items: flex-start;
					padding-top: 5px;
				}

				.plone-icon {
					margin-right: 5px;
				}
			}
		}
	}
}