.portlet {
  overflow: initial !important;

  h2.portlet-title {
    font-weight: 400;
    margin-bottom: 1rem;
  }

  &.portlet-list {

    li {
      list-style-type: none;

      &:first-child {
        padding-top: 0;
      }

      a {
        color: var(--bs-body-color);

        &:hover {
          color: var(--bs-primary);
        }
      }
    }
  }

  a:not(.btn) {
    color: var(--bs-primary);

    &:hover {
      color: var(--bs-primary);
    }
  }

  .external-url-icon {
    font-size: 1.8rem;
  }

  div.content-img,
  div.img {

    a[target="_blank"]::after {
      content: "";
      display: none;
    }
  }
}

.portletWrapper + .portletWrapper {
  margin-top: 2rem;
}

.plonetoolbar-portlet-manager {

  li:nth-child(2) {
    display: none;
  }
}