.portlet {

  h2.portlet-title {
    color: var(--bs-primary);
    font-weight: 500;
    font-size: var(--gw-font-size-xxl);
    margin-bottom: 1rem;
  }

  &.portlet-list {

    li {
      list-style-type: none;

      a {
        color: var(--bs-gray-700);

        &:hover {
          color: var(--bs-primary);
        }
      }
    }
  }

  a:not(.btn) {
    color: var(--bs-primary);

    &:hover {
      color: var(--bs-link-hover-color);
    }
  }

  .external-url-icon {
    font-size: 1.8rem;
  }
}
