.portlet {

  h2.portlet-title {
    font-weight: 400;
    margin-bottom: 1rem;
  }

  &.portlet-list {

    li {
      list-style-type: none;

      a {
        color: var(--bs-gray-700);

        &:hover {
          color: var(--bs-primary);
        }
      }
    }
  }

  a:not(.btn) {
    color: var(--bs-primary);

    &:hover {
      color: var(--bs-primary);
    }
  }

  .external-url-icon {
    font-size: 1.8rem;
  }

  div.img {

    a[target="_blank"]::after {
      content: "";
      display: none;
    }
  }
}
