.gw-tile.destacats4-esdeveniments,
.portlet.portlet-grid-events {

	h2.portlet-title {
		margin-bottom: 24px;
	}

	.list-agenda {

	  ol.row {
	    list-style: none;
	    align-items: stretch;

	    > li {
	      display: flex;

	      > .card {
	        width: 100%;
	      }
	    }

	    .card {
				box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
				min-height: 280px;
				min-width: 150px;
				position: relative;
				overflow: visible;
				transition: all .25s ease-out;
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				align-content: space-around;
				justify-content: flex-start;
				height: 100%;
				align-items: stretch;
				text-decoration: none;

				&::before {
					content: '';
					order: 2;
					flex: 0 0 32px;
					height: 32px;
				}

	      .event-time {
	        opacity: 0.9;
	        background-image: linear-gradient(90deg, #01A3FF 0%, #005a8e 100%);
	        width: 134px;
	        height: 134px;
	        border-radius: 50%;
					text-align: center;
					margin: 28px auto 0 auto;
					order: 1;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-shrink: 0;

	        .event-time--wrap {
	          display: block;
	        }

	        .event-months {
						margin-top: 2px;
					}
	      }

	      .event-days {
	        font-weight: 700;
	        font-size: 1.5rem;
	        color: #FFF;
	        display: block;
	        padding-bottom: 1px;
	        line-height: 1;

	        &.event-days-connector {
	          font-size: 0.9rem;
	          font-weight: 300;
	          margin-bottom: 3px;
    		  	margin-top: 3px;
	        }
	      }

	      .event-months {
	        font-weight: 300;
	        font-size: .875rem;
	        text-transform: uppercase;
	        color: #FFF;
	        display: block;
	        padding-bottom: 1px;
	      }

	      .event-title {
					font-size: 1.125rem;
					font-weight: 300;
					color: var(--bs-primary);
					background: #fff;
					margin: 0;
					order: 3;
					width: 100%;
					padding: 12px;
					text-align: center;
					position: relative;
					flex: 1 1 auto;
					display: flex;
					align-items: center;
					justify-content: center;
					line-height: 1.35;
	      }

	      &:hover {
	        text-decoration: none;
	        background-color: #F6F7F7;
	        transform: perspective(1px) scale(1.00775, 1.00775) translateZ(0px);
	        -webkit-font-smoothing: subpixel-antialiased;
					box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
					min-height: 280px;
					min-width: 150px;
					position: relative;
					transition: all .25s ease-out;
					display: flex;
					flex-wrap: wrap;
					flex-direction: column;
					align-content: space-around;
					justify-content: flex-start;
					height: 100%;
					align-items: stretch;

	        .event-time {

	        	&::after {
			        opacity: .9;
			        content: "\e902";
			        font-family: "upc-icones";
			        border: 1.5px solid var(--bs-primary);
			        position: absolute;
			        font-size: 1.125rem;
			        left: calc(50% - 19px);
			        top: calc(28px + 134px - 19px);
			        width: 38px;
			        height: 38px;
			        line-height: 32px;
			        text-align: center;
			        color: var(--bs-primary);
			        background: rgba(255, 255, 255, .8);
			        z-index: 2;
			        transition: all .5s ease;
			        border-radius: 50%;
	        	}
	        }

	        .event-title {
	        	background: #fff;
	        }
	      }
			}
		}
	}

	.portlet-footer {

		a {
			text-decoration: none;
		}
	}
}
