.gw-tile.destacats4-esdeveniments,
.portlet.portlet-grid-events {

	h2.portlet-title {
		margin-bottom: 24px;
	}

	.list-agenda {

	  ol.row {
	    list-style: none;

	    .card {
				box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
				min-height: 250px;
				min-width: 150px;
				position: relative;
				transition: all .25s ease-out;
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				align-content: space-around;
				justify-content: space-between;
				height: 100%;
				align-items: stretch;
				text-decoration: none;

	      .event-time {
	        opacity: 0.9;
	        background-image: linear-gradient(90deg, #01A3FF 0%, #005a8e 100%);
	        width: 134px;
	        height: 134px;
	        border-radius: 50%;
					text-align: center;
					margin: 10px auto;

	        .event-time--wrap {
	          top: 50%;
	          transform: translateY(-50%);
	          position: relative;
	          display: block;
	        }

	        .event-months {
						margin-top: 5px;
					}
	      }

	      .event-days {
	        font-weight: 700;
	        font-size: 1.5rem;
	        color: #FFF;
	        display: block;
	        padding-bottom: 1px;
	        line-height: 1;

	        &.event-days-connector {
	          font-size: 0.9rem;
	          font-weight: 300;
	          margin-bottom: 3px;
    		  	margin-top: 3px;
	        }
	      }

	      .event-months {
	        font-weight: 300;
	        font-size: .875rem;
	        text-transform: uppercase;
	        color: #FFF;
	        display: block;
	        padding-bottom: 1px;
	      }

	      .event-title {
					font-size: 1.125rem;
					font-weight: 300;
					color: var(--bs-primary);
					height: auto;
					background: rgba(255,255,255,.9);
					margin: 0;
					width: 100%;
					padding: 12px;
					text-align: center;
					position: inherit;
	        flex: 1;
	      }

	      &:hover {
	        text-decoration: none;
	        background-color: #F6F7F7;
	        transform: perspective(1px) scale(1.00775, 1.00775) translateZ(0px);
	        -webkit-font-smoothing: subpixel-antialiased;
					box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
					min-height: 250px;
					min-width: 150px;
					position: relative;
					transition: all .25s ease-out;
					display: flex;
					flex-wrap: wrap;
					flex-direction: column;
					align-content: space-around;
					justify-content: space-between;
					height: 100%;
					align-items: stretch;

	        .event-time {

	        	&::after {
			        opacity: .9;
			        content: "\e902";
			        font-family: "upc-icones";
			        border: 1.5px solid var(--bs-primary);
			        position: absolute;
			        font-size: 1.125rem;
			        left: calc(50% - 20px);
			        margin-top: 4px;
			        width: 38px;
			        height: 38px;
			        text-align: center;
			        color: var(--bs-primary);
			        background: rgba(255, 255, 255, .8);
			        z-index: 0;
			        transition: all .5s ease;
			        border-radius: 50%;
			        padding-top: 3px;
			        top: 45px;
	        	}
	        }
	      }
			}
		}
	}

	.portlet-footer {

		a {
			text-decoration: none;
		}
	}
}
