.portlet.portlet-collection {

  li {
    list-style-type: none;

    a {
      color: var(--bs-body-color);
      width: 100%;

      &:hover {
        color: var(--bs-primary);
      }
    }

    div.img {
      display: flex;
      align-items: start;
      justify-content: center;

      img {
        object-fit: cover;
        object-position: center center;
        max-height: 143px;
        width: 100%;
      }
    }

    div.txt {
      display: flex;
      flex-direction: column;
      color: var(--bs-body-color);

      .title {
        order: 1;
        font-weight: 500;
        font-size: var(--gw-font-size-xl);

        &:first-child {
          white-space: normal;
          margin-bottom: 0.25rem;
        }
      }

      .description {
        order: 2;
      }

      .time {
        order: 3;
      }
    }
  }

  &.portlet-collection-iltr {

    ul.list-group {
      /* width: 90%; */

      div.img {
        align-items: flex-start;
        padding-top: 5px;

        @media (max-width: 768px) {
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  &.portlet-collection-iutd {

    div.img {

      img {
        max-height: none;
        max-width: 100%;
        height: auto;
        aspect-ratio: 4/3;
      }
    }
  }
}
