.existing_content_portlet {
  padding: 1rem;
  border: 1px solid var(--bs-gray-300);

}

.existing_content_portlet,
.existing_content_portlet_no_border {
  margin-bottom: 1rem;
}

.existing-content {

  &.portaltype-genweb-core-carousel,
  &.portaltype-genweb-core-accordiontabs {

    #copy-html,
    .alert.alert-info {
      display: none;
    }
  }
}