.portlet.portlet-category-events {

  .list-portlet {

    a {
      text-decoration: none;

      &:hover {
        font-weight: 500;
      }
    }

    &.list-portlet {
      list-style: none;
    }

    &.first-selector {
      padding-left: 0;

      .fa-stack.smaller {
        font-size: 0.5rem;
        margin-top: -5px;
        color: var(--bs-primary);
      }

      i.fa-calendar {

        & + i {
          margin-top: 0.25em;
        }

        & + .calendar-day {
          text-align: center;
          font-weight: 500;
          margin-top: 3px;
        }
      }
    }

    &.second-selector {
      width: 100%;
      padding-left: 0;
      // margin: 0 auto;

      li.select-week,
      li.select-month,
      li.select-day {
        text-align: center;
        border: 1px solid var(--bs-primary);
        border-radius: 7px;
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-between;
        padding: 0 0.5rem;
      }
    }
  }
}

.portlet.portlet-category-news {

  .list-group {

    .list-group-item {

      a.active {
        color: var(--bs-primary);
        font-weight: 700;

        &::after {
          float: right;
          font-family: 'bootstrap-icons';
          content: "\F285";
          color: var(--bs-primary);
          font-size: 1rem;
          margin-top: 0;
        }
      }
    }
  }
}
