.portlet.portlet-category-events {

  .list-portlet {

    a {
      text-decoration: none;

      &:hover {
        font-weight: 500;
      }
    }

    &.list-portlet {
      list-style: none;
    }

    &.first-selector {
      padding-left: 0;
    }

    /* &.first-selector {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      align-content: space-between;
      padding-left: 0;

      li {
        padding-left: 1.8em;
        padding-right: 1.8em;
        border: 1px solid var(--bs-primary);

        &.select-past {
          border-top-left-radius: 7px;
          border-bottom-left-radius: 7px;
        }

        &.select-today {
          border-left-width: 0;
          border-right-width: 0;
          width: 100%;
          text-align: center;
        }

        &.select-future {
          border-top-right-radius: 7px;
          border-bottom-right-radius: 7px;
        }
      }
    } */

    &.second-selector {
      padding-left: 0;
      max-width: 12em;
      // margin: 0 auto;

      li.select-week,
      li.select-month,
      li.select-day {
        text-align: center;
        border: 1px solid var(--bs-primary);
        border-radius: 7px;
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-between;
        padding: 0 0.5rem;
      }
    }
  }
}

.portlet.portlet-category-news {

  .list-group {

    .list-group-item {

      a.active {
        color: var(--bs-primary);
        font-weight: 700;

        &::after {
          float: right;
          font-family: 'bootstrap-icons';
          content: "\F285";
          color: var(--bs-primary);
          font-size: 1rem;
          margin-top: 0;
        }
      }
    }
  }
}



body.template-listing_view {
  
  #main-container {

    #portal-column-one {
      padding-right: 20px;

      ul.portlet.portlet-category-events .list-portlet.second-selector {
        width:100%;
      }
    }
  }
}