.portlet.portlet-recent {

	li.list-group-item {

		svg {
			margin-right: 0.25em
		}

		img {
			width: 10em;
		    margin-left: 0.25em;
		}
	}

	.portlet-footer {

		i {
			display: none;
		}
	}
}

