.portlet.portlet-rss {

  li {
    list-style-type: none;

    a {
      color: var(--bs-body-color);

      &:hover {
        color: var(--bs-primary);
      }
    }

    div.content-img,
    div.img {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: auto;
      }
    }

    div.content-txt,
    div.txt {
      color: var(--bs-body-color);

      .title {
        font-weight: 500;
        font-size: var(--gw-font-size-xl);
      }

      .description {

        & > p:last-child {
          margin-bottom: 0;
        }
      }

      .categories {
        margin-top: 5px;

        .category {
          background-color: #bfdbeb;
          color: #000;
          border-radius: 15px;
          display: inline-block;
          padding: 4px 10px;
          margin-bottom: 3px;
        }
      }
    }
  }

  .portlet-footer {

    .bi.bi-plus-circle-fill {
      display:none;

    }
  }
}
