.gw-tile.destacats5 {

    .link-tile-footer {
        background-color: #007BC1;
        padding: .5rem;
        display: inline-block;
        cursor: pointer;
        a {
            color: #fff;
        }
    }
    .card-img-top {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 2rem;
        width: 100%;
        grid-auto-rows: auto;

        @media only screen and (min-width: 992px) {

            &.imatge-gran-esquerra {
                grid-template-areas: "area-gran area-gran area1 area2" "area-gran area-gran area3 area4";
            }

            &.imatge-gran-dreta {
                grid-template-areas: "area1 area2 area-gran area-gran" "area3 area4 area-gran area-gran";
            }
        }

        @media only screen and (max-width: 992px) {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto auto;
            gap: 2rem;
            grid-template-areas: "area-gran area-gran" "area1 area2" "area3 area4";
        }

        @media only screen and (max-width: 768px) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr 1fr 1fr 1fr auto;
            gap: 2rem;
            grid-template-areas: "area-gran" "area1" "area2" "area3" "area4";
            width: 100%;
            grid-auto-rows: auto;

            & > div {
                height: fit-content;
            }
        }

        [class^="area"] {
            transition: all 0.25s ease-out;
            transform: scale(1, 1) perspective(1px) translateZ(0px);

            &:hover {
                text-decoration: none;
                transform: perspective(25rem) scale(1.03);
            }

            picture {
                object-fit: fill;
                width: 100%;

                img,
                source {
                    width: 100%;
                    aspect-ratio: 3/2;
                    object-fit: cover;
                    object-position: center center;
                }
            }

            .card {
                height: 100%;
                border: none;

                .card-body {
                    padding: 0rem 1.2rem 0.7rem 1.2rem;
                    background-color: #f2f5f6;

                    a.stretched-link {
                        text-decoration: none;
                        color: var(--bs-body-color);

                        &::after {
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            z-index: 1;
                            pointer-events: auto;
                            content: "";
                            background-color: rgba(0, 0, 0, 0);
                        }
                    }

                    p {
                        font-size: 1rem;
                        color: var(--bs-body-color);
                    }

                    h3.card-title {
                        font-size: var(--gw-font-size-xxl);
                        color: var(--bs-body-color);
                        font-weight: 400;
                        margin-top: 1rem;
                    }
                }
            }
        }

        .area-gran {
            grid-area: area-gran;

            .card-body p {
                font-size: var(--gw-font-size-xl);
                color: var(--bs-body-color);
            }
        }

        .area1 {
            grid-area: area1;
        }

        .area2 {
            grid-area: area2;
        }

        .area3 {
            grid-area: area3;
        }

        .area4 {
            grid-area: area4;
        }
    }
}
