.mosaic-menu-insert {

  li.select2-option-plone\.app\.standardtiles\.navigation,
  li.select2-option-plone\.app\.standardtiles\.embed,
  li.select2-option-plone\.app\.standardtiles\.discussion,
  li.select2-option-plone\.app\.standardtiles\.document-byline,
  li.select2-option-plone\.app\.standardtiles\.related-items,
  li.select2-option-plone\.app\.standardtiles\.keywords,
  #select2-results-10 > li:nth-child(5),
  #select2-results-10 > li:nth-child(6){
    display: none;
  }

}

.mosaic-toolbar {
  background-color: var(--bs-primary);

  .mosaic-button-save {
    background-color: var(--bs-success);

    &:hover {
      background-color: #166b29;
    }
  }

  .mosaic-button-cancel {
    background-color: var(--bs-danger);

    &:hover {
      background-color: #c82333;
    }
  }

  .mosaic-button-layout {
    color: var(--bs-white);
    font-weight: 500;
  }

  div.select2-container.mosaic-menu {
    background-color: var(--bs-white);
    color: var(--bs-gray-900);
    border: 1px solid var(--bs-gray-700);
    padding-left: 10px;
    border-radius: 7px;
  }
}

.mosaic-tile-control {
  margin-right: 1rem;
}

.pattern-modal-buttons {

  #buttons-save + #buttons-cancel {
    margin-left: 1rem;
  }
}
