#global_statusmessage {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 768px) {
    width: 750px
  }

  @media (min-width: 992px) {
    width: 970px
  }

  @media (min-width: 1200px) {
    width: 1170px
  }
}

.mosaic-grid-row {
  max-width: unset !important;

  .mosaic-grid-cell {
    padding: 0;
  }
}

// Hide breadcrumb zone
#above-content-wrapper {
  display: none;
}
