#global_statusmessage {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 768px) {
    width: 750px
  }

  @media (min-width: 992px) {
    width: 970px
  }

  @media (min-width: 1200px) {
    width: 1170px
  }
}

.mosaic-toolbar-secondary-functions {

  div.mosaic-menu {
    border: 1px solid var(--bs-gray-700);
    padding-left: 5px;
  }
}

.mosaic-tile-control {
  margin-right: 1rem;
}

.mosaic-grid-row {
  max-width: unset !important;

  .mosaic-grid-cell {
    padding: 0;
  }
}

.pattern-modal-buttons {

  #buttons-save + #buttons-cancel {
    margin-left: 1rem;
  }
}

// Hide breadcrumb zone
#above-content-wrapper {
  display: none;
}
