body.template-edit.mosaic-layout-customized,
body.template-layout {

  @import "destacat_principal";
  @import "destacats_4_esdeveniments";
  @import "destacats_5_esquerra_dreta";
  @import "template_layout";
  @import "video";

  .gw-tile {
    margin-bottom: 2rem;

    .titling-line {
      font-size: var(--bs-font-size-xxxl);
      color: var(--gray-700);
      font-weight: 300;
      position: relative;
      overflow: hidden;
      padding: 0.5rem 0;
      margin-top: 0;
    }
  }
}
