/* destacat 5 esquerra dreta */

//*// Variables UPC utilizadas en Home

$font-size-base:          16px !default;

$font-size-m:            ($font-size-base/$font-size-base) * 1rem;

$font-size-xxxl:         $font-size-m * 48/16 !default; // ~48px
$font-size-xxl:          $font-size-m * 36/16 !default; // ~36px
$font-size-xl:           $font-size-m * 24/16 !default; // ~24px
$font-size-l:            $font-size-m * 18/16 !default; // ~18px

$font-size-s:            $font-size-m * 14/16 !default; // ~14px
$font-size-xs:           $font-size-m * 13/16 !default; // ~13px
$font-size-xxs:          $font-size-m * 12/16 !default; // ~12px
$font-size-xxxs:         $font-size-m * 11/16 !default; // ~11px


$regular-shadow:         rgba(0,0,0,.33);
$broken-background:      rgba(0,0,0,.5);

$max-width:              max-width;

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #252525 !default;
$gray-darker:            #4a4a4a !default;
$gray-dark:              #636363 !default;
$gray:                   #7f7f7f !default;
$gray-light:             #b8b8b8 !default;
$gray-lighter:           #d1d1d1 !default;

$brand-primary:         #007BC1 !default;
$brand-success:         #51AA55 !default;
$brand-info:            #1FBDEE !default;
$brand-warning:         #F6A808 !default;
$brand-danger:          #D01157 !default;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fff !default;
//** Global text color on `<body>`.
$text-color:            $gray-dark !default;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      #01559B !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;

//*// FIN Variables UPC utilizadas en Home

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 30px 30px;
    width: 100%;
    grid-auto-rows: auto;
}

.esquerra {
    grid-template-areas: "area-gran area-gran area1 area2" "area-gran area-gran area3 area4" "area5 area6 area7 area8";
}

.dreta {
    grid-template-areas: "area1 area2 area-gran area-gran" "area3 area4 area-gran area-gran" "area5 area6 area7 area8";
}

.area-gran {
    grid-area: area-gran;
}

.area1 {
    grid-area: area1;
}

.area2 {
    grid-area: area2;
}

.area3 {
    grid-area: area3;
}

.area4 {
    grid-area: area4;
}

.area5 {
    grid-area: area5;
}

.area6 {
    grid-area: area6;
}

.area7 {
    grid-area: area7;
}

.area8 {
    grid-area: area8;
}

[class^="area"] {
    transition: all 0.25s ease-out;
    transform: scale(1, 1) perspective(1px) translateZ(0px);
}

[class^="area"]:hover {
    text-decoration: none;
    transform: perspective(25rem) scale(1.03);
}

[class^="area"] {
    background-color: #f2f5f6;
}

.card-body {
    padding: 0rem 1.2rem 0.7rem 1.2rem;
}

.card-body p {
    font-size: 1rem;
    color: #636363;
}

.area-gran h3.card-title {
    font-size: 1.725rem;
    color: #4a4a4a;
    font-weight: 300;
    margin-top: 15px;
}

.area-gran .card-body p {
    font-size: 1.125rem;
    color: #636363;
}

h3.card-title {
    font-size: 1.3rem;
    color: #4a4a4a;
    font-weight: 300;
    margin-top: 15px;
}

picture {
    object-fit: fill;
    width: 100%;
}

.grid-container picture img,
.grid-container picture source {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    object-position: center center;
}

a.stretched-link {
    text-decoration: none;
    color: #4a4a4a;
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0, 0, 0, 0);
}

.content-hotnews {
    ol {
        padding: 0;
    }
    li {
        list-style: none
    }
    li:first-child>a {
        margin: 0;
        height: 450px;
    }
    li>a:hover,
    li>a:active {
        text-decoration: none;
        & .hotnews-title::after {
            opacity: 1;
            transition: .25s all ease;
        }
    }
    li .hotnews-title {
        padding-right: 36px;
        position: relative;
        &::after {
            opacity: 0;
            transition: .25s all ease;
            content: "\e902";
            font-family: "upc-icones";
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

.hotnews {
    display: block;
    margin: 12px 15px;
    padding: 18px;
    background: #F2F5F6;
    height: 300px;
    position: relative;
    transition: all .25s ease-out;
    transform: scale(1.0, 1.0) perspective(1px) translateZ(0px);
    &:hover,
    &:active {
        text-decoration: none;
        //transform: perspective(1px) scale(1.00775,1.00775) translateZ(0px);
        transform: perspective(25rem) scale(1.03);
    }
    >div {
        display: flex;
        justify-content: center;
        height: 100%;
        flex-direction: column;
    }
    &-title {
        font-size: $font-size-l;
        color: $gray-darker;
        font-weight: 300;
        margin-top: 15px;
    }
    &-description {
        font-size: $font-size-xs;
        color: $gray-dark;
    }
    &-category {
        font-size: 0.625rem;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
        background: rgba(255, 255, 255, 0.8);
        padding: 6px 7px 5px;
        //border-radius: 2px;
        position: absolute;
        left: 12px;
        top: 12px;
    }
    &-date {
        color: #ED4033;
        font-size: $font-size-xxxs;
        display: inline-block;
        position: absolute;
        left: 18px;
        bottom: 18px;
    }
}

.hotnews-highlighted {
    background: $link-color;
    .hotnews-date,
    .hotnews-category,
    .hotnews-title,
    .hotnews-description {
        color: #fff;
    }
    .hotnews-category {
        background: transparent;
    }
}

.hotnews-image {
    >img {
        object-fit: cover;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        transition: all .5s ease;
        border-radius: 0;
    }
    &.compat-object-fit {
        // fallback habilitat per l'script d'objectfit i fer que es vegi bé a IE
        background-size: cover;
        background-position: center;
    }
    >div {
        background: #F2F5F6;
        display: block;
        height: auto;
        bottom: 0;
        position: absolute;
        left: 0;
        padding: 0 18px 6px;
        width: 100%;
    }
}

.hotnews-video::after {
    content: "\e901";
    position: absolute;
    color: #fff;
    font-family: upc-icones;
    font-size: 2.25rem;
    border: 3px solid #fff;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    padding: 8px 14px;
    z-index: 2;
    left: calc(50% - 36px);
    bottom: calc(50% + 18px);
}

.hotnews-highlighted.hotnews-image {
    &::before {
        background: rgba(0, 0, 0, .33);
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
    }
    >*:not(img) {
        z-index: 2;
    }
    >div {
        background: rgba(0, 0, 0, .75);
    }
}

.hotnews-top {
    border-bottom: 1px solid $gray-lighter;
    >div {
        background: #fff;
        //padding: 24px 0 6px;
        padding-top: 24px;
        padding-bottom: 6px;
        width: 100%;
    }
    .hotnews-category {
        left: 0;
        padding-left: 0;
    }
}
section.content-hotnews a.stretched-link[target=_blank] p::after {
    font-family: upc-icones;
    font-size: 0.75rem;
    content: "\e91c";
    padding-left: 5px;
}

// section.content-hotnews a.stretched-link[target=_blank] p:empty::after {
//   content: "";
//   padding: 0;
// }

@media only screen and (max-width: 1100px) {
    .grid-container.esquerra,
    .grid-container.dreta {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
        gap: 30px 30px;
        grid-template-areas: "area-gran area-gran" "area1 area2" "area3 area4" "area5 area6" "area7 area8";
    }
}

@media only screen and (max-width: 800px) {
    .grid-container.esquerra,
    .grid-container.dreta {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 1fr 1fr 1fr auto;
        gap: 30px;
        grid-template-areas: "area-gran" "area1" "area2" "area3" "area4" "area5" "area6" "area7" "area8";
        width: 100%;
        grid-auto-rows: auto;
    }
}

@media only screen and (max-width: 800px) {
    .grid-container.esquerra>div {
        height: fit-content;
    }
}