#portal-breadcrumbs {
  background-color: #ffffff;

  .breadcrumb {
    padding: 1rem 0 0.5rem 0;

    .breadcrumb-item {
      font-size: 14px;

      a {
        text-decoration: none;
      }
    }
  }
}

body.template-homepage {

  #portal-breadcrumbs {
    display: none;
  }
}
