#cookies-gw-preview,
#cookies-gw {
  bottom: 0;
  font-size: 16px;
  text-align: justify;
  margin: auto;
  color: #4a4a4a;
  background: #fffffff2;
  box-shadow: 0 0 1px 1px #0000000d !important;
  transition: opacity 0.15s linear;
  opacity: 1;
  padding: 15px 30px;
  border: 1px solid transparent;
  border-radius: 2px;
  z-index: 10;
  width: 100%;
  border-top: 1px solid #cccccc;

  #cookies-bodyContent {
    text-align: justify;
  }

  #cookies-buttons {
    margin: 10px 0 0 0 !important;
    padding: 0;
  }
}

#cookies-gw {
  position: fixed;
}
