/* INICIO Footer */

[id^="footer-"] + #footer-logos {
  padding: 0em 4em 1em 4em;
}

#footer-logos {
  background-color: #FBFBFC;
  box-shadow: 500px 0 0 0 #F2F5F6, -500px 0 0 0 #F2F5F6;
  padding: 2em 4em 1em 4em;

  .llistatLogos {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: right;

    li {
      display: inline-block;
      margin: 0 0 1em;

      a {
        text-decoration: none;
        margin-left: 3em;

        &[target="_blank"]::after {
          display: none;
          content: "";
        }

        img {
          max-height: 100px;
        }
      }
    }
  }
}

#footer-complementary {
  background-color: #000;
  box-shadow: 500px 0 0 0 #F2F5F6, -500px 0 0 0 #F2F5F6;
  padding: 0 4em;

  p {
    display: inline-block;
    margin: 18px 0;
    color: #FFF;
  }

  nav {
    float: right;
    margin: 18px 0;

    ul,
    li {
      display: inline;
      margin-left: 24px;
      padding: 0;

      a {
        color: #FFF;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 992px) {
  .footer-complementary nav {
    float:none;
    display: block;
    margin-top: 0;

    ul {
      width: 100%;
      margin: 0 auto;
      display: block;
      text-align: center;

      li {
        margin: 0 12px;
        text-align: center;
        display: inline-block;
      }
    }
  }
}

/* FIN Footer */
