footer#portal-footer-wrapper {
  background-color: initial;
  color: initial;
  text-align: initial;
  padding: 0rem;

  [id^="footer-"] {

    h2 {
      font-size: 1.5rem;
      margin-bottom: 0.5em;
    }
  }
}


#portal-footer {
  position: relative;

  &.image-theme {

    a {
      color: #FFF !important;

      &:hover {
        color: var(--bs-primary) !important;
      }
    }

    &::before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), var(--bg-img-url);
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: cover;
      z-index: -1;
    }
  }

  &.dark-theme {
    background-color: #212529;

    a {
      color: #FFF !important;

      &:hover {
        color: var(--bs-primary) !important;
      }
    }
  }

  &.light-theme {
    background-color: #f5f5f5;

    * {
      color: var(--bs-dark) !important;
    }

    li.custom-links {
      border-left-color: var(--bs-dark) !important;
    }

    #footer-logos {
      border-bottom: 1px solid var(--bs-gray-300);
    }
  }
}

#footer-logos {
  box-shadow: 500px 0 0 0 #F2F5F6, -500px 0 0 0 #F2F5F6;
  padding: 2em 4em 1em 4em;
  background-color: var(--bs-body-bg);
  border-top: 1px solid var(--bs-gray-300);

  .llistatLogos {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 0 1em;

      a {
        text-decoration: none;
        margin-left: 2em;

        &[target="_blank"]::after {
          display: none;
          content: "";
        }

        img {
          max-height: 60px;
        }
      }

      &:first-child {

        a {
          margin-left: 0;
        }
      }
    }
  }
}

#footer-links {
  box-shadow: 500px 0 0 0 #F2F5F6, -500px 0 0 0 #F2F5F6;
  padding: 0em 4em 0em 4em;
  color: var(--bs-body-bg);

  div.navbar-nav-footer.custom {
    margin-top: 2rem;

    a {
      text-decoration: none;

      &:hover {
        font-weight: 500;
      }
    }
  }

  ul.navbar-nav-footer {
    padding-left: 0;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > li {
      flex-basis: 16%;
      list-style: none;
      font-weight: 500;
      font-size: var(--gw-font-size-xxxl);
      margin-top: 2em;
      padding-right: 2em;

      @media (max-width: 1200px) {
        flex-basis: 24%;
      }

      @media (max-width: 992px) {
        flex-basis: 33%;
      }

      @media (max-width: 768px) {
        flex-basis: 49%;
      }

      @media (max-width: 576px) {
        flex-basis: 100%;
        order: 2;
      }

      &:not(.has_subtree) {
        display: none;
      }

      &.custom-links {
        border-left: 1px solid var(--bs-white);
        padding-left: 15px;
        margin-left: -15px;
        margin-right: 15px;

        @media (max-width: 576px) {
          order: 1;
          margin-left: 0;
        }
      }

      & > a,
      & > p {
        margin-bottom: 1rem;
      }

      & > a:hover {
        font-weight: 700;
      }

      & > ul {
        margin-left: -15px;
        list-style: disc;

        &.navbar-nav-footer-no-folders {
          list-style: none;
          padding-left: 0;
          margin-left: 0;

          & > li {
            font-weight: 500;
            font-size: var(--gw-font-size-xxxl);
            margin-bottom: 0.5rem;

            & > a:hover {
              font-weight: 700;
            }

            &.has_subtree {
              display: none;
            }
          }
        }

        & > li {
          font-weight: 300;
          font-size: 1rem;

          & > a {
            margin-bottom: 5px;

            &:hover {
              color: var(--bs-primary) !important;
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {

    .col-md-9 {
      order: 2;
    }

    .col-md-3 {
      order: 1;
    }
  }
}

#portal-footer #footer-complementary {
  box-shadow: 500px 0 0 0 #F2F5F6, -500px 0 0 0 #F2F5F6;
  padding: 0 4em;
  background-color: #FFF !important;
  font-size: 0.875rem;

  * {
    color: var(--bs-primary) !important;
  }

  p {
    display: inline-block;
    margin: 18px 0;
  }

  nav {
    float: right;
    margin: 18px 0;
    text-align: right;

    li {
      white-space: nowrap;
      margin-left: 24px;
    }

    ul,
    li {
      display: inline;
      padding: 0;

      a {
        color: var(--bs-primary) !important;
        text-decoration: none;

        &:hover {
          font-weight: 400;
          color: var(--bs-primary) !important;
        }

        &::after {
          font-size: 0.9rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {

  #footer-complementary nav {
    float: left;
    text-align: left;

    li {
      margin-right: 24px;
      margin-left: 0;
    }
  }
}
