#header-cintillo {
  width: 100%;
  padding: 1em var(--gw-viewlet-horizontal-width);
  background-color: #DBEBEB;
  color: #000;

  & > i.bi,
  .cintillo-title {
    font-weight: 800;
  }

  .cintillo-body {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      white-space: initial;
    }
  }
}

body.template-layout.section-benvingut,
body.template-layout.section-bienvenido,
body.template-layout.section-welcome,
body:not([class*="section-"]) {

  #header #portal-navbar .nav-item.home {

    & > a {
      padding: 6px 3px 3px 3px !important;
      border-bottom: 3px solid var(--bs-primary);
    }
  }
}

#header {
  padding: 1em var(--gw-viewlet-horizontal-width);
  height: 92px;
  transition: height .4s ease;
  -webkit-transition: height .4s ease;
  -moz-transition: height .4s ease;
  -o-transition: height .4s ease;

  &.shink {
    height: 72px;
  }

  #portal-logos {

    a[target="_blank"]::after {
      display: none;
      content: "";
    }

    img{
      max-height: 50px;
    }
  }

  #portal-navbar {

    .navbar-nav {
      flex-direction: row;

      & > .nav-item {

        &.current {

          & > a {
            padding: 6px 3px 3px 3px !important;
            border-bottom: 2px solid var(--bs-primary);
          }
        }
      }

      .nav-item {
        font-weight: 400;
        padding: 0 10px 0 10px;
        font-size: 17px;

        a {
          padding: 6px 0px 6px 0px;
        }
      }

      & > li:nth-last-child(-n + 3) {

        ul.dropdown {
          right: -1px;
          left: auto !important;
        }
      }

      & > li.has_subtree {
        position: relative; /* Needed for absolute positioning of dropdown */
        display: inline;
        vertical-align: middle;
        padding: 0 0 0 10px;
        border: 1px solid transparent;

        &.nav-action,
        &.nav-lang {
          padding: 0 5px 0 5px;
        }

        a.nav-link {
          padding: 6px 3px 6px 3px;
        }

        & > a.nav-link {
          float: left;
          position: relative;
          z-index: 1002; /* Above the parent's pseudo-element */
        }

        & > label {
          position: relative;
          height: 2.1em;
          margin-top: 2px;
          z-index: 1002; /* Above the parent's pseudo-element */
          cursor: pointer;

          &::after {
            font-family: bootstrap-icons !important;
            content: "\f282";
            transition: ease-in .35s transform;
          }
        }

        &:hover,
        &.keyboard-open,
        &:has(input.opener:checked) {
          position: relative; /* Create stacking context */
          z-index: 1001; /* Above other elements */
          background-color: var(--bs-white);
          border: 1px solid #eee;
          border-bottom:0;

          &:after {
            content: "";
            width: 100%;
            height: 5px;
            background: var(--bs-white);
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 1000;
          }

          & > label:after,
          & > a {
            color: var(--bs-primary-hover) !important;
          }

          & > label {

            &::after {
              transform: rotate(180deg);
            }
          }
        }
        
        ul,
        ul.dropdown {
          display: none !important; /* Hidden by default */
          position: absolute; /* Position relative to parent li */
          top: 38px;
          border: 1px solid #eee;
          left: -1px;
          width: max-content;
          max-width: 350px;
          min-width: 115%;
          height: auto;
          max-height: 90dvh;
          overflow-y: auto;
          background-color: var(--bs-white);
          box-shadow: 0 7px 8px #00000033;
          z-index: 9999; /* Very high z-index to ensure it's above everything */

          .nav-item {
            background-color: #fff;
            text-align: left;
            border-bottom: 0px solid transparent;
            margin-bottom: 0.25rem;
            margin-top: 0.25rem;
            border-left: 2px solid var(--bs-gray-dark);
            margin-left: 5px;

            &.current,
            &:hover {
              border-left: 2px solid var(--bs-primary);
            }

            &.current {

              .nav-link {
                font-weight: 600;
              }
            }

            &:hover {
              background-color: #fff !important;

              a {
                color: var(--bs-gray-dark) !important;

                &:hover {
                  color: var(--bs-primary) !important;
                }
              }
            }

            a.nav-link {
              color: var(--bs-body-color);
              font-weight: 400;
              font-size: 16px;

              &:hover {
                color: var(--bs-primary);
              }
            }

            li.has_subtree {

              ul,
              & > label {
                display: none;
              }
            }
          }
        }
        
        /* Show dropdown on hover, keyboard navigation, or when checkbox is checked */
        &:hover > ul.dropdown,
        &:hover > ul,
        &.keyboard-open > ul.dropdown,
        &.keyboard-open > ul,
        & > input.opener:checked ~ ul.dropdown,
        & > input.opener:checked ~ ul,
        &:has(> input.opener:checked) > ul.dropdown,
        &:has(> input.opener:checked) > ul {
          display: block !important;
          visibility: visible !important;
          opacity: 1 !important;
          z-index: 9999 !important; /* Ensure it's above everything */
        }

        & > ul {

          li.nav-item {

            &::last-child {
              border-bottom: 0px solid;
            }

            a.nav-link {
              min-width: auto;
              padding-right: 0em;
              font-weight: normal;
              line-height: 18px;
            }
          }
        }
      }
    }
  }

  #portal-searchbox {

    input#searchGadget {
      width: 0;
      padding: 0;
      margin-right: 10px;
      margin-left: 0.75rem;
      border: 0px solid;
      transition: all .4s ease;
      -webkit-transition: all .4s ease;
      -moz-transition: all .4s ease;
      -o-transition: all .4s ease;
    }

    #searchGadget_form {

      input#searchGadget {
        margin-left: 0rem;

        &:focus,
        &:not(:placeholder-shown) {
          border: 1px solid #ced4da;
          width: 200px;
          padding: 0.375rem 0.75rem;
          margin-left: 0.75rem;
        }
      }

      &:hover {

        input#searchGadget {
          border: 1px solid #ced4da;
          width: 200px;
          padding: 0.375rem 0.75rem;
          margin-left: 0.75rem;
        }
      }
    }


    button.searchButton {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    }

    @media (min-width: 992px) {

      .livesearch-results {
        margin-top: 0.5rem;
        right: 4em;
      }
    }
  }
}