@media (max-width: 992px) {

  #portal-top {

    #header {
      padding: 1em 0 1em 1em;
    }
  }

  #portal-navbar,
  #portal-searchbox {
    display: none;
  }

  #portal-navbar-mobile {
    display: block;
  }
}

#header.mobile {

  #portal-navbar,
  #portal-searchbox {
    display: none;
  }

  #portal-navbar-mobile {
    display: block;
  }
}

#portal-navbar-mobile {

  .offcanvas-header {
    padding: var(--bs-offcanvas-padding-y) 2rem;

    .h5 {
      color: var(--bs-white);
      margin-bottom: 0;
    }
  }

  .offcanvas-body {
    padding-top: 0;
  }

  .navbar {

    .container-fluid {
      justify-content: flex-end;
    }

    .navbar-toggler:focus {
      box-shadow: none;
    }
  }

  .navbar-nav {

    li {

      a {
        color: var(--bs-white) !important;
        background-color: var(--bs-navbar-background);

        &:hover {
          background: transparent;
          font-weight: 500;
        }
      }

      label {
        padding-right: 1rem;

        &:after {
          font-size: .75em;
          background: 0 0;
          border: 1px solid var(--bs-white);
          padding: 5px;
        }
      }

      ul.has_subtree {
        position: initial;
        padding-left: 0.5em !important;
        background-color: var(--bs-body-color);
        transition: all .5s ease;
        visibility: hidden;
        opacity: 0;
      }

      &:hover {

        label:after {
          background: var(--bs-white) !important;
          color: var(--bs-navbar-background);
        }
      }

      &.current {

        label:after {
          background: var(--bs-primary);
        }
      }

      &.open {

        label:after {
          transform: rotate(180deg);
        }

        ul {
          opacity: 1;
          visibility: visible;
          height: auto;
          margin-left: 1rem;
        }
      }
    }
  }

  #portal-searchbox-mobile {
    width: 100%;
    padding: 0 1rem;

    button.searchButton {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    }

    .livesearch-results {
      position: absolute;
      left: 0;
      margin-top: 1rem;
      padding-left: 2rem;
      padding-right: 2rem;
      width: 100%;
      z-index: 1;
    }
  }
}

/* Los colores de los estados de cada elemento solo se podrán ver una vez logueado */
body.userrole-authenticated {

  #portal-navbar-mobile {

    .navbar-nav {

      li {

        a {

          &.state-visible,
          &.state-draft,
          &.state-private,
          &.state-intranet,
          &.state-pending,
          &.state-published,
          &.state-restricted-to-managers {

            &:before {
              content: "";
              border: 1px solid;
              width: 6px;
              height: 6px;
              display: inline-block;
              border-radius: 100%;
              margin-right: 0.5rem;
              margin-bottom: 4px;
            }
          }

          &.state-visible:before {
            border-color: var(--gw-state-visible);
            background-color: var(--gw-state-visible);
          }

          &.state-draft:before {
            border-color: var(--gw-state-draft);
            background-color: var(--gw-state-draft);
          }

          &.state-private:before {
            border-color: var(--gw-state-private);
            background-color: var(--gw-state-private);
          }

          &.state-intranet:before {
            border-color: var(--gw-state-intranet);
            background-color: var(--gw-state-intranet);
          }

          &.state-pending:before {
            border-color: var(--gw-state-pending);
            background-color: var(--gw-state-pending);
          }

          &.state-published:before {
            border-color: var(--gw-state-published);
            background-color: var(--gw-state-published);
          }

          &.state-restricted-to-managers:before {
            border-color: var(--gw-state-restricted-to-managers);
            background-color: var(--gw-state-restricted-to-managers);
          }
        }
      }
    }
  }
}
