body.template-homepage {

  #hero {
    margin-bottom: 2rem;
  }
}

#hero {
  text-align: center;
  position: relative;

  &.light-theme,
  &.light-to-dark-theme {

    .site_title {
      background-color: var(--bs-white);
    }
  }

  &.dark-theme {

    .site_title {
      background-color: var(--bs-dark);
    }
  }

  &.light-theme,
  &.light-to-dark-theme:not(.shink) {

    .site_title {
      box-shadow: 0 7px 8px #00000033;
    }
  }


  &.text-hero,
  &.image-hero {
    display: flex;
    flex-direction: column;

    & > .site_title {
      order: 1;
      padding: 0em 4em 1em 4em;
      text-align: left;

      .h1 {
        color: var(--bs-black);
        font-size: 1.75rem;
      }
    }

    & > img {
      order: 2;
      height: 126px;
    }
  }

  &.pretty-image-hero {
    height: 700px;
    margin-top: -92px;

    h2,
    h1,
    .h2,
    .h1 {
      color: var(--bs-white);
    }

    & > div {
      top: calc(50% - 46px);
      margin-top: 92px;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      height: calc(100% - 92px);
      background-color: #007BC1DD;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 1rem;
      padding-bottom: 1rem;

      & > * {
        padding-left: 2rem;
        padding-right: 2rem;
      }

      .line {
        width: 50%;
        border-top: 3px solid white;
        margin: 15px auto;
        color: var(--bs-primary);
      }
    }
  }

  &.full-pretty-image-hero {
    width: 100%;
    height: calc(100vh - 92px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: var(--bg-img-url);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 2rem;

    & > div {
      max-width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;

      @media (max-width: 768px) {
        max-width: 90%;
        position: absolute;
        top: 2rem;
      }

      h2,
      h1,
      .h2,
      .h1 {
        background-color: var(--bs-primary);
        color: white;
        padding: 0.25rem 0.5rem;
      }

      h2,
      .h2 {
        margin-top: 2rem;
      }
    }

    a.down-hero {
      font-size: 3rem;
      color: var(--bs-primary);
      position: absolute;
      bottom: 1.5rem;

      @media (max-width: 768px) {
        bottom: 1rem;
      }

      &:hover {
        color: var(--bs-primary-hover);
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h2,
  h1,
  .h2,
  .h1 {
    /* font-weight: 700; */
    font-family: 'Fira sans';
    /* text-shadow: 1px 1px 1px var(--bs-dark), 0 0 0.2em var(--bs-dark), 0 0 0.2em var(--bs-dark); */
    margin-bottom: 0;
  }
}
