body.template-homepage {

  #hero {
    margin-bottom: 2rem;
  }
}

#hero {
  text-align: center;
  position: relative;

  &.content-style,
  &.old-style {
    height: 126px;
    box-shadow: 0 -126px 0 #000;

    & > h1 {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      width: 100%;
      max-width: 1320px;
      height: 100%;
      background-color: #007BC1DD;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: 0px -2px 4px 0px #065988dd;
    }
  }

  &.new-style {
    height: 700px;
    margin-top: -92px;

    & > div {
      top: calc(50% - 46px);
      margin-top: 92px;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      height: calc(100% - 92px);
      background-color: #007BC1DD;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem 2rem;

      .line {
        width: 50%;
        border-top: 3px solid white;
        margin: 10px auto;
      }
    }

    /*img {
      filter: brightness(40%);
    }*/
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h2,
  h1 {
    /* font-weight: 700; */
    font-family: 'Fira sans';
    color: var(--bs-white);
    /* text-shadow: 1px 1px 1px var(--bs-dark), 0 0 0.2em var(--bs-dark), 0 0 0.2em var(--bs-dark); */
    margin-bottom: 0;
  }
}
