body.template-homepage {

  #hero {
    margin-bottom: 2rem;
  }
}

#hero {
  text-align: center;
  position: relative;

  &.not-image {
    box-shadow: 0 7px 8px #00000033;
  }

  &.content-style,
  &.old-style {
    display: flex;
    flex-direction: column;

    & > .site_title {
      order: 1;
      padding: 0em 4em 1em 4em;
      text-align: left;

      h1 {
        color: var(--bs-black);
      }
    }

    & > img {
      order: 2;
      height: 126px;
    }
  }

  &.new-style {
    height: 700px;
    margin-top: -92px;

    h2,
    h1 {
      color: var(--bs-white);
    }

    & > div {
      top: calc(50% - 46px);
      margin-top: 92px;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      height: calc(100% - 92px);
      background-color: #007BC1DD;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem 2rem;

      .line {
        width: 50%;
        border-top: 3px solid white;
        margin: 10px auto;
      }
    }

    /*img {
      filter: brightness(40%);
    }*/
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h2,
  h1 {
    /* font-weight: 700; */
    font-family: 'Fira sans';
    /* text-shadow: 1px 1px 1px var(--bs-dark), 0 0 0.2em var(--bs-dark), 0 0 0.2em var(--bs-dark); */
    margin-bottom: 0;
  }
}
