div#social_tags {
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    text-align: right;
    float: right;
    margin-top: -1.2rem;

    a {
        font-size: var(--gw-font-size-xxl);
        text-decoration: none;
        color: var(--bs-body-color);

        &:hover {
            color: var(--bs-primary);
        }

        &[target="_blank"]::after {
            content: "" !important;
        }
    }
}