div#social_tags {
    margin-bottom: 1rem;
    margin-top: 10px;
    text-align: right;

    a {
        font-size: var(--gw-font-size-xxl);
        text-decoration: none;
        color: var(--bs-body-color);

        &:hover {
            color: var(--bs-primary);
        }

        &[target="_blank"]::after {
            content: "";
        }
    }
}

#news_date + #social_tags {
    margin-top: 0px;
}
