/* destacat 5 esquerra dreta */
/* line 60, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 30px 30px;
  width: 100%;
  grid-auto-rows: auto;
}

/* line 69, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.esquerra {
  grid-template-areas: "area-gran area-gran area1 area2" "area-gran area-gran area3 area4" "area5 area6 area7 area8";
}

/* line 73, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.dreta {
  grid-template-areas: "area1 area2 area-gran area-gran" "area3 area4 area-gran area-gran" "area5 area6 area7 area8";
}

/* line 77, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.area-gran {
  grid-area: area-gran;
}

/* line 81, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.area1 {
  grid-area: area1;
}

/* line 85, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.area2 {
  grid-area: area2;
}

/* line 89, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.area3 {
  grid-area: area3;
}

/* line 93, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.area4 {
  grid-area: area4;
}

/* line 97, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.area5 {
  grid-area: area5;
}

/* line 101, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.area6 {
  grid-area: area6;
}

/* line 105, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.area7 {
  grid-area: area7;
}

/* line 109, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.area8 {
  grid-area: area8;
}

/* line 113, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
[class^="area"] {
  transition: all 0.25s ease-out;
  transform: scale(1, 1) perspective(1px) translateZ(0px);
}

/* line 118, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
[class^="area"]:hover {
  text-decoration: none;
  transform: perspective(25rem) scale(1.03);
}

/* line 123, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
[class^="area"] {
  background-color: #f2f5f6;
}

/* line 127, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.card-body {
  padding: 0rem 1.2rem 0.7rem 1.2rem;
}

/* line 131, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.card-body p {
  font-size: 1rem;
  color: #636363;
}

/* line 136, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.area-gran h3.card-title {
  font-size: 1.725rem;
  color: #4a4a4a;
  font-weight: 300;
  margin-top: 15px;
}

/* line 143, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.area-gran .card-body p {
  font-size: 1.125rem;
  color: #636363;
}

/* line 148, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
h3.card-title {
  font-size: 1.3rem;
  color: #4a4a4a;
  font-weight: 300;
  margin-top: 15px;
}

/* line 155, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
picture {
  object-fit: fill;
  width: 100%;
}

/* line 160, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.grid-container picture img,
.grid-container picture source {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  object-position: center center;
}

/* line 168, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
a.stretched-link {
  text-decoration: none;
  color: #4a4a4a;
}

/* line 173, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: transparent;
}

/* line 186, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.content-hotnews ol {
  padding: 0;
}
/* line 189, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.content-hotnews li {
  list-style: none;
}
/* line 192, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.content-hotnews li:first-child > a {
  margin: 0;
  height: 450px;
}
/* line 196, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.content-hotnews li > a:hover,
.content-hotnews li > a:active {
  text-decoration: none;
}
/* line 199, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.content-hotnews li > a:hover .hotnews-title::after,
.content-hotnews li > a:active .hotnews-title::after {
  opacity: 1;
  transition: .25s all ease;
}
/* line 204, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.content-hotnews li .hotnews-title {
  padding-right: 36px;
  position: relative;
}
/* line 207, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.content-hotnews li .hotnews-title::after {
  opacity: 0;
  transition: .25s all ease;
  content: "\e902";
  font-family: "upc-icones";
  position: absolute;
  right: 0;
  top: 0;
}

/* line 219, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.hotnews {
  display: block;
  margin: 12px 15px;
  padding: 18px;
  background: #F2F5F6;
  height: 300px;
  position: relative;
  transition: all .25s ease-out;
  transform: scale(1, 1) perspective(1px) translateZ(0px);
}
/* line 228, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.hotnews:hover, .hotnews:active {
  text-decoration: none;
  transform: perspective(25rem) scale(1.03);
}
/* line 234, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.hotnews > div {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
/* line 240, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.hotnews-title {
  font-size: 1.125rem;
  color: #4a4a4a;
  font-weight: 300;
  margin-top: 15px;
}
/* line 246, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.hotnews-description {
  font-size: 0.8125rem;
  color: #636363;
}
/* line 250, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.hotnews-category {
  font-size: 0.625rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background: rgba(255, 255, 255, 0.8);
  padding: 6px 7px 5px;
  position: absolute;
  left: 12px;
  top: 12px;
}
/* line 262, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.hotnews-date {
  color: #ED4033;
  font-size: 0.6875rem;
  display: inline-block;
  position: absolute;
  left: 18px;
  bottom: 18px;
}

/* line 272, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.hotnews-highlighted {
  background: #007BC1;
}
/* line 274, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.hotnews-highlighted .hotnews-date,
.hotnews-highlighted .hotnews-category,
.hotnews-highlighted .hotnews-title,
.hotnews-highlighted .hotnews-description {
  color: #fff;
}
/* line 280, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.hotnews-highlighted .hotnews-category {
  background: transparent;
}

/* line 286, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.hotnews-image > img {
  object-fit: cover;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  transition: all .5s ease;
  border-radius: 0;
}
/* line 297, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.hotnews-image.compat-object-fit {
  background-size: cover;
  background-position: center;
}
/* line 302, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.hotnews-image > div {
  background: #F2F5F6;
  display: block;
  height: auto;
  bottom: 0;
  position: absolute;
  left: 0;
  padding: 0 18px 6px;
  width: 100%;
}

/* line 314, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.hotnews-video::after {
  content: "\e901";
  position: absolute;
  color: #fff;
  font-family: upc-icones;
  font-size: 2.25rem;
  border: 3px solid #fff;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  padding: 8px 14px;
  z-index: 2;
  left: calc(50% - 36px);
  bottom: calc(50% + 18px);
}

/* line 331, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.hotnews-highlighted.hotnews-image::before {
  background: rgba(0, 0, 0, 0.33);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
/* line 341, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.hotnews-highlighted.hotnews-image > *:not(img) {
  z-index: 2;
}
/* line 344, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.hotnews-highlighted.hotnews-image > div {
  background: rgba(0, 0, 0, 0.75);
}

/* line 349, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.hotnews-top {
  border-bottom: 1px solid #d1d1d1;
}
/* line 351, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.hotnews-top > div {
  background: #fff;
  padding-top: 24px;
  padding-bottom: 6px;
  width: 100%;
}
/* line 358, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.hotnews-top .hotnews-category {
  left: 0;
  padding-left: 0;
}

/* line 363, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
section.content-hotnews a.stretched-link[target=_blank] p::after {
  font-family: upc-icones;
  font-size: 0.75rem;
  content: "\e91c";
  padding-left: 5px;
}

@media only screen and (max-width: 1100px) {
  /* line 376, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
  .grid-container.esquerra,
  .grid-container.dreta {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 30px 30px;
    grid-template-areas: "area-gran area-gran" "area1 area2" "area3 area4" "area5 area6" "area7 area8";
  }
}
@media only screen and (max-width: 800px) {
  /* line 387, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
  .grid-container.esquerra,
  .grid-container.dreta {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr auto;
    gap: 30px;
    grid-template-areas: "area-gran" "area1" "area2" "area3" "area4" "area5" "area6" "area7" "area8";
    width: 100%;
    grid-auto-rows: auto;
  }
}
@media only screen and (max-width: 800px) {
  /* line 400, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
  .grid-container.esquerra > div {
    height: fit-content;
  }
}
