/* destacat 5 esquerra dreta */
/* line 3, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 30px 30px;
  width: 100%;
  grid-auto-rows: auto;
}

/* line 12, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.esquerra {
  grid-template-areas: "area-gran area-gran area1 area2" "area-gran area-gran area3 area4" "area5 area6 area7 area8";
}

/* line 16, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.dreta {
  grid-template-areas: "area1 area2 area-gran area-gran" "area3 area4 area-gran area-gran" "area5 area6 area7 area8";
}

/* line 20, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.area-gran {
  grid-area: area-gran;
}

/* line 24, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.area1 {
  grid-area: area1;
}

/* line 28, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.area2 {
  grid-area: area2;
}

/* line 32, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.area3 {
  grid-area: area3;
}

/* line 36, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.area4 {
  grid-area: area4;
}

/* line 40, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.area5 {
  grid-area: area5;
}

/* line 44, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.area6 {
  grid-area: area6;
}

/* line 48, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.area7 {
  grid-area: area7;
}

/* line 52, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.area8 {
  grid-area: area8;
}

/* line 56, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
[class^="area"] {
  transition: all 0.25s ease-out;
  transform: scale(1, 1) perspective(1px) translateZ(0px);
}

/* line 61, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
[class^="area"]:hover {
  text-decoration: none;
  transform: perspective(25rem) scale(1.03);
}

/* line 66, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
[class^="area"] {
  background-color: #f2f5f6;
}

/* line 70, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.card-body {
  padding: 0rem 1.2rem 0.7rem 1.2rem;
}

/* line 74, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.card-body p {
  font-size: 1rem;
  color: #636363;
}

/* line 79, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.area-gran h3.card-title {
  font-size: 1.725rem;
  color: #4a4a4a;
  font-weight: 300;
  margin-top: 15px;
}

/* line 86, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.area-gran .card-body p {
  font-size: 1.125rem;
  color: #636363;
}

/* line 91, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
h3.card-title {
  font-size: 1.3rem;
  color: #4a4a4a;
  font-weight: 300;
  margin-top: 15px;
}

/* line 98, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
picture {
  object-fit: fill;
  width: 100%;
}

/* line 103, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.grid-container picture img,
.grid-container picture source {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  object-position: center center;
}

/* line 111, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
a.stretched-link {
  text-decoration: none;
  color: #4a4a4a;
}

/* line 116, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: transparent;
}

/* line 128, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
section.content-hotnews a.stretched-link[target=_blank] p::after {
  font-family: upc-icones;
  font-size: 0.75rem;
  content: "\e91c";
  padding-left: 5px;
}

@media only screen and (max-width: 1100px) {
  /* line 140, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
  .grid-container.esquerra,
  .grid-container.dreta {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 30px 30px;
    grid-template-areas: "area-gran area-gran" "area1 area2" "area3 area4" "area5 area6" "area7 area8";
  }
}
@media only screen and (max-width: 800px) {
  /* line 151, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
  .grid-container.esquerra,
  .grid-container.dreta {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr auto;
    gap: 30px;
    grid-template-areas: "area-gran" "area1" "area2" "area3" "area4" "area5" "area6" "area7" "area8";
    width: 100%;
    grid-auto-rows: auto;
  }
}
@media only screen and (max-width: 800px) {
  /* line 164, ../../scss/tiles/destacats_5_esquerra_dreta.scss */
  .grid-container.esquerra > div {
    height: fit-content;
  }
}
