/* Tile video */
/* line 4, ../../scss/tiles/video.scss */
.mosaic-video-tile article {
  margin: auto !important;
}
/* line 8, ../../scss/tiles/video.scss */
.mosaic-video-tile .video-section .video_upc {
  object-fit: cover;
  left: initial !important;
  top: 0;
  width: 1140px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  z-index: 0;
  transition: all 0.5s ease;
  border-radius: 0;
}
/* line 20, ../../scss/tiles/video.scss */
.mosaic-video-tile .video-section iframe.embed {
  height: 73vh;
  object-fit: unset;
  top: unset;
  width: auto;
  margin: unset;
}

/* line 30, ../../scss/tiles/video.scss */
.video-highlighted {
  background: #252525;
  text-align: center;
  min-height: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  position: relative;
  margin-bottom: 48px;
  max-width: 100%;
}
/* line 46, ../../scss/tiles/video.scss */
.video-highlighted.compat-object-fit {
  background-size: cover;
  background-position: center;
}
/* line 51, ../../scss/tiles/video.scss */
.video-highlighted article {
  z-index: 2;
  margin: 80px 0;
}
/* line 54, ../../scss/tiles/video.scss */
.video-highlighted article h2 {
  margin-top: 0;
  color: #fff;
}
/* line 58, ../../scss/tiles/video.scss */
.video-highlighted article p {
  color: #fff;
}
/* line 61, ../../scss/tiles/video.scss */
.video-highlighted article :last-child {
  margin-bottom: 0;
}

/* line 67, ../../scss/tiles/video.scss */
.titolvideoblack {
  width: 1140px;
  margin: 0 auto;
  margin-bottom: 0px;
  background: rgba(0, 0, 0, 0.75);
  padding: 1vh;
}
/* line 73, ../../scss/tiles/video.scss */
.titolvideoblack h2 {
  color: #edf1f2 !important;
}
/* line 76, ../../scss/tiles/video.scss */
.titolvideoblack a {
  padding: 0;
}
/* line 78, ../../scss/tiles/video.scss */
.titolvideoblack a h2 {
  color: #edf1f2 !important;
}
/* line 81, ../../scss/tiles/video.scss */
.titolvideoblack a:hover {
  color: #edf1f2;
}

/* line 87, ../../scss/tiles/video.scss */
.titolvideowhite {
  width: 1140px;
  margin: 0 auto;
  margin-bottom: 0px;
  background: #edf1f2;
  padding: 1vh;
}
/* line 93, ../../scss/tiles/video.scss */
.titolvideowhite h2 {
  color: #4a4a4a !important;
}
/* line 96, ../../scss/tiles/video.scss */
.titolvideowhite a {
  padding: 0;
}
/* line 98, ../../scss/tiles/video.scss */
.titolvideowhite a h2 {
  color: #4a4a4a !important;
}
/* line 101, ../../scss/tiles/video.scss */
.titolvideowhite a:hover {
  color: #4a4a4a;
}

/* line 107, ../../scss/tiles/video.scss */
.cei {
  padding-right: 1rem;
}

/* line 111, ../../scss/tiles/video.scss */
.video-section.hero-posicio-inferior-centre.video-highlighted > div > a::after {
  display: none;
}

@media (max-width: 1140px) {
  /* line 116, ../../scss/tiles/video.scss */
  .mosaic-video-tile .video-section .video_upc {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 73vh;
  }

  /* line 122, ../../scss/tiles/video.scss */
  .mosaic-video-tile .video-section iframe.embed {
    height: 39vh;
  }

  /* line 125, ../../scss/tiles/video.scss */
  .titolvideowhite,
  .titolvideoblack {
    width: 100%;
  }
  /* line 128, ../../scss/tiles/video.scss */
  .titolvideowhite h2,
  .titolvideoblack h2 {
    font-size: 1.5rem;
  }

  /* line 132, ../../scss/tiles/video.scss */
  .video-highlighted {
    padding-bottom: 0px;
  }
}
@media (max-width: 1140px) and (orientation: landscape) {
  /* line 138, ../../scss/tiles/video.scss */
  .mosaic-video-tile .video-section iframe.embed {
    height: 73vh;
  }
}
@media (max-width: 768px) {
  /* line 144, ../../scss/tiles/video.scss */
  .peu-multi {
    flex-direction: column !important;
    padding: 1rem;
  }

  /* line 148, ../../scss/tiles/video.scss */
  .images-right {
    float: none !important;
  }

  /* line 152, ../../scss/tiles/video.scss */
  li.upc-eines-cerca input {
    width: 630px !important;
  }
}
@media (max-width: 768px) and (orientation: landscape) {
  /* line 159, ../../scss/tiles/video.scss */
  .mosaic-video-tile .video-section iframe.embed {
    height: 108vh;
  }
}
@media (max-width: 600px) {
  /* line 166, ../../scss/tiles/video.scss */
  li.upc-eines-cerca input {
    width: 292px !important;
  }
}
@media (max-width: 414px) {
  /* line 173, ../../scss/tiles/video.scss */
  .mosaic-video-tile .video-section .video_upc {
    height: 70vh;
  }

  /* line 176, ../../scss/tiles/video.scss */
  .mosaic-video-tile .video-section iframe.embed {
    height: 34vh;
  }

  /* line 180, ../../scss/tiles/video.scss */
  li.upc-eines-cerca input {
    width: 240px !important;
  }
}
@media (max-width: 360px) {
  /* line 187, ../../scss/tiles/video.scss */
  .mosaic-video-tile .video-section .video_upc {
    height: 67vh;
  }

  /* line 190, ../../scss/tiles/video.scss */
  .mosaic-video-tile .video-section iframe.embed {
    height: 34vh;
  }

  /* line 194, ../../scss/tiles/video.scss */
  li.upc-eines-cerca input {
    width: 187px !important;
  }
}
/* fi Tile video */
