@font-face {
    font-family: 'upc-icones';
    font-weight: normal;
    font-style: normal;
    src: url("++genweb6++theme/stylesheets/fonts/upc-icones.eot") format("embedded-opentype"),
         url("++genweb6++theme/stylesheets/fonts/upc-icones.woff") format("woff"),
         url("++genweb6++theme/stylesheets/fonts/upc-icones.ttf") format("truetype"),
         url("++genweb6++theme/stylesheets/fonts/upc-icones.svg#upc-icones") format("svg");
}

body {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px !important;
    font-weight: 300;
    line-height: 1.45 !important;
}

#portal-footer-wrapper {
    background-color: initial;
    color: initial;
    text-align: initial;
    padding: 0rem
}

/* INICIO Botón para reedirigir al principio de la página */

.back-to-top {
    background: none;
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    z-index: 10;
    display: none;
    text-decoration: none;
    color: var(--bs-primary);

    &:hover,
    &:active,
    &:focus {
        color: var(--bs-primary-hover);
    }

    svg {
        width: 45px;
        height: 45px;
    }
}

/* FIN Botón para reedirigir al principio de la página */

