@font-face {
  font-family: 'upc-icones';
  font-weight: normal;
  font-style: normal;
  src: url("++theme++genweb6.theme/stylesheets/fonts/upc/upc-icones.eot") format("embedded-opentype"),
       url("++theme++genweb6.theme/stylesheets/fonts/upc/upc-icones.woff") format("woff"),
       url("++theme++genweb6.theme/stylesheets/fonts/upc/upc-icones.ttf") format("truetype"),
       url("++theme++genweb6.theme/stylesheets/fonts/upc/upc-icones.svg#upc-icones") format("svg");
}

body {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px !important;
  font-weight: 300;
  line-height: 1.65 !important;
}

.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
  font-family: 'Fira sans';
  color: var(--bs-primary);
}

a:hover {

  .h1,
  h1,
  .h2,
  h2,
  .h3,
  h3,
  .h4,
  h4,
  .h5,
  h5,
  .h6,
  h6 {
    color: var(--bs-link-hover-color);
  }
}

a[target="_blank"]::after {
  content: "\e91c";
  font-family: "upc-icones";
  font-size: 0.7rem;
  margin-left: 3px;
  top: 0;
  position: relative;
  display: inline-block;
}

.alert a::after {
  height: 0;
  animation: none;
}

.external-url-icon {
  display: table;

  &.text-decoration-none:hover {
    text-decoration: none !important;
  }

  &::before {
    content: "\e91c";
    font-family: "upc-icones";
    font-size: 180%;
    color: var(--bs-primary);
    display: table-cell;
    vertical-align: middle;

    &:hover {
      color: var(--bs-primary-hover);
    }
  }
}

.smaller {
  font-size: var(--gw-font-size-xxxs);
}

body.template-manage-viewlets header {
  position: initial;
}

.modal-backdrop.fade.show {
  display: none;
}

.list-group-item.row {
  display: flex;
}

.plone-icon {
  height: 0.73em;
}

#main-container {

  #portal-column-one {
    padding-right: 20px;
  }
}

body.template-edit {

  div.pat-relateditems-dropdown {

    .select2-results {
      max-height: 450px;
    }
  }
}

.fs-m {
  font-size: var(--bs-body-font-size) !important;
}

.fs-l {
  font-size: var(--gw-font-size-l) !important;
}

.fs-s {
  font-size: var(--gw-font-size-s) !important;
}

.fs-xl {
  font-size: var(--gw-font-size-xl) !important;
}

.fs-xs {
  font-size: var(--gw-font-size-xs) !important;
}

.fs-xxl {
  font-size: var(--gw-font-size-xxl) !important;
}

.fs-xxs {
  font-size: var(--gw-font-size-xxs) !important;
}

.fs-xxxl {
  font-size: var(--gw-font-size-xxxl) !important;
}

.fs-xxxs {
  font-size: var(--gw-font-size-xxs) !important;
}

.text-justify {
  text-align: justify;
}

code.code-editor {
  border: 1px solid var(--bs-dark);
}

iframe,
video {
  max-width: 100%;
}

button#form-buttons-Delete {
  margin-right: 1rem;
}

.back-to-top {
  background: none;
  margin: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  z-index: 10;
  display: none;
  text-decoration: none;
  color: var(--bs-primary);

  &:hover,
  &:active,
  &:focus {
    color: var(--bs-primary-hover);
  }

  svg {
    width: 45px;
    height: 45px;
  }
}

/* Los colores de los estados de cada elemento solo se podrán ver una vez logueado */
body.userrole-authenticated {

  #edit-zone #plone-contentmenu-workflow:hover [class^="label-state-"] {
    color: var(--bs-white) !important;
  }

  #edit-zone .label-state-visible {
    color: var(--gw-state-visible) !important;
  }

  .state-visible {
    color: var(--gw-state-visible) !important;

    &:hover {
      color: var(--gw-state-visible-hover) !important;
    }
  }

  #edit-zone .label-state-draft {
    color: var(--gw-state-draft) !important;
  }

  .state-draft {
    color: var(--gw-state-draft) !important;

    &:hover {
      color: var(--gw-state-draft-hover) !important;
    }
  }

  #edit-zone .label-state-private {
    color: var(--gw-state-private) !important;
  }

  .state-private {
    color: var(--gw-state-private) !important;

    &:hover {
      color: var(--gw-state-private-hover) !important;
    }
  }

  #edit-zone .label-state-intranet {
    color: var(--gw-state-intranet) !important;
  }

  .state-intranet {
    color: var(--gw-state-intranet) !important;

    &:hover {
      color: var(--gw-state-intranet-hover) !important;
    }
  }

  #edit-zone .label-state-pending {
    color: var(--gw-state-pending) !important;
  }

  .state-pending {
    color: var(--gw-state-pending) !important;

    &:hover {
      color: var(--gw-state-pending-hover) !important;
    }
  }

  #edit-zone .label-state-published {
    color: var(--gw-state-published) !important;
  }

  .state-published {
    color: var(--gw-state-published) !important;

    &:hover {
      color: var(--gw-state-published-hover) !important;
    }
  }

  #edit-zone .label-state-restricted-to-managers {
    color: var(--gw-state-restricted-to-managers) !important;
  }

  .state-restricted-to-managers {
    color: var(--gw-state-restricted-to-managers) !important;

    &:hover {
      color: var(--gw-state-restricted-to-managers-hover) !important;
    }
  }
}
