:root {
  --bs-primary: #007BC1;
  --bs-primary-ligthen-20: #01A3FF;
  --bs-primary-rgb: 0, 123, 193;
  --bs-primary-hover: #{darken(#007BC1, 10%)};
  --bs-link-color: #007BC1;
  --bs-link-color-hover: #{darken(#007BC1, 10%)};

  --gw-font-size-l: calc(var(--bs-body-font-size) * 1.075);
  --gw-font-size-xl: calc(var(--gw-font-size-l) * 1.075);
  --gw-font-size-xxl: calc(var(--gw-font-size-xl) * 1.075);
  --gw-font-size-xxxl: calc(var(--gw-font-size-xxl) * 1.075);
  --gw-font-size-s: calc(var(--bs-body-font-size) * .925);
  --gw-font-size-xs: calc(var(--gw-font-size-s) * .925);
  --gw-font-size-xxs: calc(var(--gw-font-size-xs) * .925);
  --gw-font-size-xxxs: calc(var(--gw-font-size-xxs) * .925);

  --gw-state-visible: #72a31d;
  --gw-state-draft: #72a31d;
  --gw-state-private: #a62e1f;
  --gw-state-intranet: #8952ab;
  --gw-state-pending: #df8505;
  --gw-state-published: var(--bs-primary);
  --gw-state-restricted-to-managers: var(--bs-gray-600);

  --gw-state-visible-hover: #{darken(#72a31d, 10%)};
  --gw-state-draft-hover: #{darken(#72a31d, 10%)};
  --gw-state-private-hover: #{darken(#a62e1f, 10%)};
  --gw-state-intranet-hover: #{darken(#8952ab, 10%)};
  --gw-state-pending-hover: #{darken(#df8505, 10%)};
  --gw-state-published-hover: #{darken(#007BC1, 10%)};
  --gw-state-restricted-to-managers-hover: var(--bs-gray-700);

  --gw-viewlet-horizontal-width: 1.2em;
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-primary-hover);
  --bs-btn-hover-border-color: #{darken(#007BC1, 15%)};
  --bs-btn-active-bg: #{darken(#007BC1, 15%)};
  --bs-btn-active-border-color: #{darken(#007BC1, 15%)};
  --bs-btn-disabled-bg: var(--bs-primary);
  --bs-btn-disabled-border-color: var(--bs-primary);
}
