:root {
  --bs-primary: #007BC1;
  --bs-primary-ligthen-20: #01A3FF;
  --bs-primary-rgb: 0, 123, 193;
  --bs-primary-hover: #{darken(#007BC1, 10%)};
  --bs-font-size-l: calc(var(--bs-body-font-size) * 1.075);
  --bs-font-size-xl: calc(var(--bs-font-size-l) * 1.075);
  --bs-font-size-xxl: calc(var(--bs-font-size-xl) * 1.075);
  --bs-font-size-xxxl: calc(var(--bs-font-size-xxl) * 1.075);
  --bs-font-size-s: calc(var(--bs-body-font-size) * .925);
  --bs-font-size-xs: calc(var(--bs-font-size-s) * .925);
  --bs-font-size-xxs: calc(var(--bs-font-size-xs) * .925);
  --bs-font-size-xxxs: calc(var(--bs-font-size-xxs) * .925);
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-primary-hover);
  --bs-btn-hover-border-color: #{darken(#007BC1, 15%)};
  --bs-btn-active-bg: #{darken(#007BC1, 15%)};
  --bs-btn-active-border-color: #{darken(#007BC1, 15%)};
  --bs-btn-disabled-bg: var(--bs-primary);
  --bs-btn-disabled-border-color: var(--bs-primary);
}
