div.existing-content.portaltype-genweb-upc-documentimage,
body.portaltype-genweb-upc-documentimage {

	#content-core {

		figure.newsImageContainer {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			align-items: flex-start;

			figcaption {
				width: 200px;
				margin-top: 5px;
			}
		}
	}
}
