div.existing-content.portaltype-easyform,
body.template-event_view {

	#content-core {

		.card.event-summary {
			font-size: 1.1rem;
			padding-bottom: 0.09em;
			border: 1px solid var(--bs-primary);

			abbr.dtstart {
				text-decoration: none;
			}

			p.card-text {
				font-size: 1rem;
			}

			p.card-text.h5 {
				font-size: 1.1rem;
				font-weight: 500;

				span.timezone.text-muted.small {
					font-size: 1.1rem;
				}
			}

			.plone-icon {
				margin-bottom: 10px;
			}
		}
	}
}
