.portlet-events-content {

    .list-portlet {

        a {
            text-decoration: none;
        }

        &.list-portlet {
            list-style: none;
        }

        &.first-selector {
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            justify-content: space-between;
            padding-right: 32px;
            border: 1px solid var(--bs-primary);
            border-radius: 7px;

            .select-today a.today {
                border-left: 1px solid var(--bs-primary);
                border-right: 1px solid var(--bs-primary);
                padding: 0 32px;
            }
        }

        &.second-selector {
            padding-left: 0px;
            max-width: 12em;
            // margin: 0 auto;

            li[class^='select-'] {
                text-align: center;
                border: 1px solid var(--bs-primary);
                border-radius: 7px;
                margin-bottom: 10px;
                // display: flex;
                // flex-wrap: wrap;
                // align-content: space-between;
                // justify-content: space-between;
                // padding: 0 0.5rem;
            }
        }
    }
}
