article#content {

  header {

    h1 {
      font-size: 2rem;
    }

    p.lead {
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 18px;
    }
  }
}

.pat-relateditems-container {

  .toolbar.d-flex {
    border-radius: 7px 7px 0 0;
  }
}

li#contentview-configure,
li#contentview-view,
li#contentview-edit {

  & > a:not(:has(svg)) {

    &::before {
      font-family: 'bootstrap-icons';
      margin-top: 0.3em;
      margin-right: 0.65em;
      font-size: 0.73em;
    }
  }
}

body:not(.plone-toolbar-left-expanded) {

  li#contentview-configure,
  li#contentview-view,
  li#contentview-edit {

    a:not(:has(svg))::before {
      margin-top: 0;
    }
  }
}

li#contentview-edit a:not(:has(svg))::before {
  content: "\F4CB";
}

li#contentview-view a:not(:has(svg))::before {
  content: "\F341";
}

li#contentview-configure a:not(:has(svg))::before {
  content: "\F3E5";
}

figure.newsImageContainer {
  max-width: calc(100% / 3);
  float: left;
  margin: 0 1.5rem 1rem 0;

  img {
    margin-bottom: 0.5rem;
  }

  figcaption {
    display: block;
  }
}

body.portaltype-news-item,
body.portaltype-event {

  .plonetoolbar-display-view {

    li:has(#plone-contentmenu-display-layout_view) {
      display: none;
    }
  }
}
