article#content {

  header {

    p.lead {
      font-family: 'Roboto';
      font-weight: 300;
      font-size: 18px;
    }
  }
}

.pat-relateditems-container {

  .toolbar.d-flex {
    border-radius: 7px 7px 0 0;
  }
}
