div.existing-content.template-image_view,
body.template-image_view {

	#content-core {

		.section.section-main {

			div.file-description {

				.metadata {

					.plone-icon {
	    				height: 1.25em;
	    				margin-right: 5px;
	    			}

			    	div.px-2 {
			    		display: flex;
					  	align-items: stretch;
					  	margin-right: 25px;
			    	}
				}
			}
		}
		
		.section.section-actions {

			a.btn.btn-primary.fullscreen {
				background-color: #ffffff;			
				   color: var(--bs-primary);
				border: 2px solid var(--bs-primary);
			}
		}
	}
}
