body.template-image_view {

	#content-core {

		.section.section-main {

			img.figure-img.img-fluid {
				border-radius: 7px;
			}

			div.file-description {

				.metadata {

					.plone-icon {
	    				height: 1.5em;
	    				margin-right: 5px;
	    			}

			    	div.px-2 {
			    		display: flex;
					  	align-items: stretch;
					  	margin-right: 25px;
			    	}
				}
			}

		}
	}
}
